<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      สถานะ
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card color="success">
      <h2 style="margin-left: 10px;">
        zone {{ data.zone_1.zone }}
      </h2>
      <div style="display: flex; background: transparent;">
        <ion-card-header>
          <ion-card-title> ระดับความชื้น {{data.zone_1.humidity}}</ion-card-title>
          <ion-card-subtitle> 30  </ion-card-subtitle>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title> อุณหภูมิ {{data.zone_1.temperature}}</ion-card-title>
          <ion-card-subtitle> 30  </ion-card-subtitle>
        </ion-card-header>
      </div>
    </ion-card>
  
    <ion-card color="danger">
      <h2 style="margin-left: 10px;">
        zone {{ data.zone_2.zone }}
      </h2>
      <div style="display: flex; background: transparent;">
        <ion-card-header>
          <ion-card-title> ระดับความชื้น {{data.zone_2.humidity}}</ion-card-title>
          <ion-card-subtitle> 30  </ion-card-subtitle>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title> อุณหภูมิ {{data.zone_2.temperature}}</ion-card-title>
          <ion-card-subtitle> 30  </ion-card-subtitle>
        </ion-card-header>
      </div>
  
    </ion-card>
  
    <ion-card color="success">
      <h2 style="margin-left: 10px;">
        zone 3
      </h2>
      <div style="display: flex; background: transparent;">
        <ion-card-header>
          <ion-card-title>ระดับความชื้น {{data.zone_1.humidity}}</ion-card-title>
          <ion-card-subtitle>30  </ion-card-subtitle>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title>อุณหภูมิ {{data.zone_1.temperature}}</ion-card-title>
          <ion-card-subtitle>30  </ion-card-subtitle>
        </ion-card-header>
      </div>
    </ion-card>
  
    <ion-card color="success">
      <h2 style="margin-left: 10px;">
        zone 4
      </h2>
      <div style="display: flex; background: transparent;">
        <ion-card-header>
          <ion-card-title>ระดับความชื้น {{data.zone_1.humidity}}</ion-card-title>
          <ion-card-subtitle>30  </ion-card-subtitle>
        </ion-card-header>
        <ion-card-header>
          <ion-card-title>อุณหภูมิ {{data.zone_1.temperature}}</ion-card-title>
          <ion-card-subtitle>30  </ion-card-subtitle>
        </ion-card-header>
      </div>
    </ion-card>
    <br/>

    <ion-button expand="full" (click)="buzzerOn()">open buzzer</ion-button>
    <ion-button expand="full" (click)="buzzerOff()">close buzzer</ion-button>




  

  
</ion-content>
